<footer class="bg-gray-800 text-white">
	<div class="max-2-6xl max-auto px-4 py-10 md:py-20">
		<div class="xl:grid xl:grid-cols-3 xl:gap-8">
			<div class="space-y-8 xl:col-span-1">
				<h3 class="text-sm font-semibold text-gray-200 tracking-wider uppercase"> About Book Eccom</h3>
				<p class="text-white leading-6">
					Book Eccom is best of all and provide excellent services and have wide range of products. We provide quality over quantity and Goods once sold are not taken back.
				</p>
			</div>
			<div class="mt-12 grid grid-cols-2 gap-8 xl:mt-0 xl:col-span-2">
				<div class="md:grid md:grid-cols-2 mid:gap-8">
					<h3 class="text-sm font-semibold text-gray-200 tracking-wider uppercase"> Quick Links</h3>
					<ul class="mt-4 space-y-4">
						<li>
							<%= link_to "Home", root_path, class: "text-base leading-6 text-white hover:text-gray-100"%>
						</li>
					</ul>
				</div>
			</div>
		</div>		
	</div>
</footer>